
.box .box-header {
  position: relative;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0px solid #f4f4f4;
  color: #444;
  /* padding-bottom: 10px; */
  padding-top: 15px;
}
.box .box-header a {
  color: #fff;
}

.box .box-header .box-title {
  display: inline-block;
  padding: 2px 0px 9px 10px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  float: left;
  cursor: default;
  margin-right: 10px;
  color: #00a65a;
}

.box {
    position: relative;
    background: #ffffff;
    border-top: 2px solid #00a65a !important;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0;
    width: 100%;
    box-shadow: 0px 1px 3px rgb(185, 255, 223);
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #00a65a;
    border-color: #00a65a;
}
th.sorting:last-child{
     width: 164px !important;
     text-align: center;
}
td:last-child {
    margin: 0 auto;
    text-align: center;
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
    border-top: 0;
    text-align: center;
}